{% extends 'page.html' %}
{% block pagetitle %}
{% endblock %}
{% block body %}
<div class="container-fluid px-0">
  <img class="banner" src="/img/home.jpg"/>
</div>
<div class="container">
  <div class="row justify-content-center">
    <div class="quote col-11 col-md-8 col-lg-6 col-xl-5">
      <div class="float-left">
        Design must live
      </div>
      <div class="float-right">
        as well as it looks.
      </div>
      <div class="author">
        &mdash; William Sofield
      </div>
    </div>
  </div>
</div>
{% endblock %}
